<!DOCTYPE html>
<html>
<title>Ona API Data Plotting</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<style>
body,h2, h1 {font-family: "Raleway", serif;}
body, html {height: 100%}

</style>
<body class="w3-light-grey">

<div class="w3-container">
    <h2 class="w3-center">Charting Ona API JSON Data using Django and MatPlotLib</h2>
    <h4 class="w3-center"><em>How willing are Kenyans in accessing mental healthcare?</em></h4><br><br>
</div>
</body>
</html>